body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}

.wrapper {
  max-width: 800px;
  margin: 50px auto;
}

h1 {
  font-weight: 200;
  font-size: 2em;
  margin: 0 0 0.1em 0;
}

h2 {
  font-weight: 200;
  font-size: 1em;
  margin: 0 0 50px;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}

li {
  list-style-type: none;
}

.label {
  margin-left: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #666666;
  font-size: 14px;
}

.legendValue {
  float: left;
  height: 25px;
}